# Film Project based on Gender and Genre: Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [279]:
raw_movie_data = pd.read_csv("Data/movies.csv", sep=";", low_memory=False)

In [280]:
raw_cast_data = pd.read_csv("Data/cast.csv", sep=";", low_memory=False)

In [281]:
raw_movie_data.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'production_companies_number',
       'production_countries_number', 'spoken_languages_number'],
      dtype='object')

In [282]:
raw_movie_data.shape

(329044, 22)

In [283]:
raw_cast_data.columns

Index(['id', 'actor1_name', 'actor1_gender', 'actor2_name', 'actor2_gender',
       'actor3_name', 'actor3_gender', 'actor4_name', 'actor4_gender',
       'actor5_name', 'actor5_gender', 'actor_number', 'director_name',
       'director_gender', 'director_number', 'producer_name',
       'producer_number', 'screeplay_name', 'editor_name'],
      dtype='object')

In [284]:
raw_cast_data.shape

(329044, 19)

### Combing of the two datasets

In [285]:
### merge on column 'id'
raw_data_merged = pd.merge(raw_movie_data, raw_cast_data)

In [286]:
raw_data_merged.shape

(329044, 40)

In [287]:
raw_data_merged.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'production_companies_number',
       'production_countries_number', 'spoken_languages_number', 'actor1_name',
       'actor1_gender', 'actor2_name', 'actor2_gender', 'actor3_name',
       'actor3_gender', 'actor4_name', 'actor4_gender', 'actor5_name',
       'actor5_gender', 'actor_number', 'director_name', 'director_gender',
       'director_number', 'producer_name', 'producer_number', 'screeplay_name',
       'editor_name'],
      dtype='object')

### Deleting unfinished movies

In [288]:
raw_data_merged['status'].value_counts()

Released           322567
Post Production      1446
Rumored              1232
In Production         953
Planned               745
Canceled              113
Name: status, dtype: int64

In [289]:
index_canceled = raw_data_merged[raw_data_merged['status'] == 'Canceled'].index
index_post_production = raw_data_merged[raw_data_merged['status'] == 'Post Production'].index
index_rumored = raw_data_merged[raw_data_merged['status'] == 'Rumored'].index
index_production = raw_data_merged[raw_data_merged['status'] == 'In Production'].index
index_planned = raw_data_merged[raw_data_merged['status'] == 'Planned'].index

In [290]:
raw_data_merged.drop(index_canceled, inplace=True)
raw_data_merged.drop(index_post_production, inplace=True)
raw_data_merged.drop(index_rumored, inplace=True)
raw_data_merged.drop(index_production, inplace=True)
raw_data_merged.drop(index_planned, inplace=True)

In [291]:
### 322.567 films were released at the time of the data gathering.
### The other ones (in production, planned, cancelled) are going to be removed from the list.
### The column 'status' now consists only of released films, it can be thus deleted.

In [292]:
raw_data_merged['status'].value_counts()

Released    322567
Name: status, dtype: int64

### Dropping superfluous columns

In [293]:
raw_data_merged.drop(['budget',
                      'production_companies',
                      'production_countries',
                      'spoken_languages',
                      'production_companies_number',
                      'production_countries_number',
                      'spoken_languages_number',
                      'producer_name',
                      'producer_number',
                      'screeplay_name',
                      'editor_name',
                      'status',
                      'title',
                      'runtime',
                      'actor_number',
                      'director_number'], axis='columns', inplace=True)

In [294]:
raw_data_merged.columns

Index(['id', 'genres', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'release_date', 'revenue', 'tagline',
       'vote_average', 'vote_count', 'actor1_name', 'actor1_gender',
       'actor2_name', 'actor2_gender', 'actor3_name', 'actor3_gender',
       'actor4_name', 'actor4_gender', 'actor5_name', 'actor5_gender',
       'director_name', 'director_gender'],
      dtype='object')

### Renaming Columns

In [295]:
movies_df = raw_data_merged.rename(columns={
                            "genres":"genre",
                            "original_language":"language",
                            "original_title":"title",
                            "overview":"summary",
                            })

### Deleting rows that do not contain the gender of the main character

In [296]:
### rejected string method:
### movies_df['year']=movies_df['year'].astype(str)
### movies_df['year'] = [x[6:] for x in movies_df['year']]

In [297]:
movies_df['actor1_gender'].value_counts()

0    253159
2     51084
1     20312
Name: actor1_gender, dtype: int64

In [298]:
movies_df.shape

(324555, 24)

In [299]:
movies_df_gender = movies_df[movies_df.actor1_gender != 0] ### dropping gender null values

In [300]:
movies_df_gender.groupby(by='actor1_gender').size()

actor1_gender
1    20312
2    51084
dtype: int64

In [301]:
movies_df_gender.shape ### remaining 71.396 observations

(71396, 24)

### Saving Copy

In [314]:
movies_df_gender.to_csv('Data/Movies_Cleaned-Raw-Data-0.csv', encoding="utf-8")

In [315]:
### merged data set movies and cast
### deleted unfinished or planned movies
### deleted movies without indication of genre

In [4]:
cleaned_movie_data = pd.read_csv('Data/Movies_Cleaned-Raw-Data-0.csv', sep=',', low_memory=False)

### Duplicates, Data Types and Null values

In [277]:
movies_df_gender.drop_duplicates(inplace = True)

/opt/anaconda3/envs/DA_new/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [5]:
cleaned_movie_data['imdb_id'] = cleaned_movie_data['imdb_id'].fillna('-')
cleaned_movie_data['language'] = cleaned_movie_data['language'].fillna('-')
cleaned_movie_data['summary'] = cleaned_movie_data['summary'].fillna("-")
cleaned_movie_data['tagline'] = cleaned_movie_data['tagline'].fillna("-")

In [7]:
cleaned_movie_data.shape

(71396, 25)

In [8]:
cleaned_movie_data.dropna(axis=0, inplace=True)

In [9]:
cleaned_movie_data.shape

(61603, 25)

In [10]:
def change_dtype_cat(cleaned_movie_data):
    gender_list = ['actor1_gender','actor2_gender','actor3_gender','actor4_gender','actor5_gender','director_gender']
    cleaned_movie_data[gender_list] = cleaned_movie_data[gender_list].astype(str).replace('1','F').replace('2','M').astype('category')
    
    return cleaned_movie_data[gender_list].dtypes

In [11]:
change_dtype_cat(cleaned_movie_data)

actor1_gender      category
actor2_gender      category
actor3_gender      category
actor4_gender      category
actor5_gender      category
director_gender    category
dtype: object

In [12]:
def change_dtype_str(cleaned_movie_data):
    str_list = ['imdb_id','language','title','summary','popularity','tagline']
    cleaned_movie_data[str_list] = cleaned_movie_data[str_list].astype(str)
    
    return cleaned_movie_data[str_list].dtypes

In [13]:
change_dtype_str(cleaned_movie_data)

imdb_id       object
language      object
title         object
summary       object
popularity    object
tagline       object
dtype: object

In [14]:
cleaned_movie_data['popularity'].str.replace(',','.').replace('E-','').astype(float).round(2)

0         0.47
1         1.70
2         1.32
3         0.00
4        10.49
         ...
71391     1.35
71392     0.18
71393     1.18
71394     2.17
71395     0.51
Name: popularity, Length: 61603, dtype: float64

In [15]:
### adding "," as a seperator for thousands
cleaned_movie_data['revenue'] = cleaned_movie_data['revenue'].map(lambda x: f'{x:,}')

In [16]:
cleaned_movie_data['revenue'].head()

0              0
1      4,300,000
2     12,136,938
3              0
4    775,398,007
Name: revenue, dtype: object

### Saving Cleaned Data

In [17]:
cleaned_movie_data.to_csv('Data/Movies_Cleaned-Raw-Data-1.csv', encoding="utf-8")

In [18]:
### merged data set movies and cast
### deleted unfinished or planned movies
### deleted movies without indication of genre
### handled potential duplicates, null values and data types

In [2]:
year_movie_df = pd.read_csv('Data/Movies_Cleaned-Raw-Data-1.csv', sep=',', low_memory=False)

### Creating a new column containing the epoch in which the film was released

In [3]:
year_movie_df.shape

(61603, 26)

In [4]:
year_movie_df['release_date'] = pd.to_datetime(year_movie_df.release_date, dayfirst=True)
### the column release_date is changed to datetime type

In [5]:
year_movie_df['year'] = year_movie_df['release_date'].dt.year

In [6]:
year_movie_df[['year', 'release_date']]

       year release_date
0      1986   1986-10-16
1      1995   1995-12-25
2      1993   1993-10-15
3      2004   2004-09-02
4      1977   1977-05-25
...     ...          ...
61598  2017   2017-08-01
61599  2017   2017-04-07
61600  2017   2017-08-01
61601  2017   2017-08-02
61602  2017   2017-07-27

[61603 rows x 2 columns]

In [7]:
year_movie_df['year'] = year_movie_df['year'].apply(lambda x: int(x))

In [8]:
year_movie_df['year']

0        1986
1        1995
2        1993
3        2004
4        1977
         ...
61598    2017
61599    2017
61600    2017
61601    2017
61602    2017
Name: year, Length: 61603, dtype: int64

In [9]:
first_films = year_movie_df['year'] < 1900
first_films.sum()

2

In [10]:
last_films = year_movie_df['year'] > 2017
last_films.sum()

1

In [11]:
year_movie_df.drop(year_movie_df[year_movie_df.year < 1900].index, inplace=True)

In [12]:
year_movie_df.drop(year_movie_df[year_movie_df.year > 2017].index, inplace=True)

In [13]:
year_movie_df.shape

(61600, 27)

In [14]:
def epoch(row):
    if row['year'] < 1945:
        return '1900-1944'
    elif row['year'] >= 1945 and row['year'] < 1970:
        return '1945-1969'
    elif row['year'] >= 1970 and row['year'] < 2000:
        return '1970-1999'
    elif row['year'] >= 2000:
        return '2000-2017'
    else:
        return 'not available'

In [15]:
# apply to dataframe, use axis=1 to apply the function to every row
year_movie_df['epoch'] = year_movie_df.apply(epoch, axis=1)
year_movie_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'genre', 'imdb_id', 'language',
       'title', 'summary', 'popularity', 'release_date', 'revenue', 'tagline',
       'vote_average', 'vote_count', 'actor1_name', 'actor1_gender',
       'actor2_name', 'actor2_gender', 'actor3_name', 'actor3_gender',
       'actor4_name', 'actor4_gender', 'actor5_name', 'actor5_gender',
       'director_name', 'director_gender', 'year', 'epoch'],
      dtype='object')

In [16]:
year_movie_df['epoch'].astype('category')

0        1970-1999
1        1970-1999
2        1970-1999
3        2000-2017
4        1970-1999
           ...
61598    2000-2017
61599    2000-2017
61600    2000-2017
61601    2000-2017
61602    2000-2017
Name: epoch, Length: 61600, dtype: category
Categories (4, object): ['1900-1944', '1945-1969', '1970-1999', '2000-2017']

### Cleaned Raw Data incl. 'epoch'

In [17]:
year_movie_df.shape

(61600, 28)

In [18]:
year_movie_df.to_csv('Data/Movie-Gender-Table.csv', encoding="utf-8")

In [19]:
### merged data set movies and cast
### deleted unfinished or planned movies
### deleted movies without indication of genre
### handled null values, duplicates, data types
### created new column with groups of release date (pre-war, post-war, 1970-2000, 2000-2017)

### Genre Dummies

In [20]:
cleaned_raw_data = pd.read_csv("Data/Movie-Gender-Table.csv", sep=",", low_memory=False)

In [21]:
cleaned_raw_data.shape

(61600, 29)

In [22]:
df_genre_dummies = cleaned_raw_data['genre'].str.get_dummies('|')

In [23]:
df_genre_dummies.sum().sort_values(ascending=False) ### 122.986 genre tags

Drama              27776
Comedy             19659
Thriller           10051
Action              9594
Romance             9216
Crime               6278
Horror              5513
Adventure           4449
Family              3678
Science Fiction     3355
Mystery             3265
Music               2979
Documentary         2827
Fantasy             2470
Foreign             2420
Animation           2311
Western             2193
War                 1689
History             1646
TV Movie            1612
dtype: int64

In [24]:
df_movies_genre = pd.concat([cleaned_raw_data, df_genre_dummies], axis=1)

In [25]:
df_movies_genre.shape

(61600, 49)

In [26]:
df_movies_genre.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'id', 'genre',
       'imdb_id', 'language', 'title', 'summary', 'popularity', 'release_date',
       'revenue', 'tagline', 'vote_average', 'vote_count', 'actor1_name',
       'actor1_gender', 'actor2_name', 'actor2_gender', 'actor3_name',
       'actor3_gender', 'actor4_name', 'actor4_gender', 'actor5_name',
       'actor5_gender', 'director_name', 'director_gender', 'year', 'epoch',
       'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
       'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [27]:
df_movie_gender_genre = df_movies_genre.drop(['Unnamed: 0', 
                                        'Unnamed: 0.1', 
                                        'Unnamed: 0.1.1',
                                        'Foreign',
                                        'Animation'], axis='columns', inplace=True)

In [28]:
df_movies_genre.columns

Index(['id', 'genre', 'imdb_id', 'language', 'title', 'summary', 'popularity',
       'release_date', 'revenue', 'tagline', 'vote_average', 'vote_count',
       'actor1_name', 'actor1_gender', 'actor2_name', 'actor2_gender',
       'actor3_name', 'actor3_gender', 'actor4_name', 'actor4_gender',
       'actor5_name', 'actor5_gender', 'director_name', 'director_gender',
       'year', 'epoch', 'Action', 'Adventure', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror',
       'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie',
       'Thriller', 'War', 'Western'],
      dtype='object')

### Saving table incl. genre dummies

In [29]:
df_movies_genre.to_csv('Data/Movie-Gender-Table-1.csv', encoding='utf8')

In [30]:
movie_gender_genre_df = pd.read_csv('Data/Movie-Gender-Table-1.csv', sep=",", low_memory=False)

### Adding columns to count all male/female actors (up to 5/film)

In [31]:
def get_nbr_actors(row,gender):
    actor_list = ['actor1_gender','actor2_gender','actor3_gender','actor4_gender','actor5_gender']
    counter=0
    for actor in actor_list:
        if row[actor]==gender:
            counter+=1
    return counter

In [32]:
movie_gender_genre_df['nbr_female_actors'] = movie_gender_genre_df.apply(lambda row: 
                                                                        get_nbr_actors(row,'F'), axis=1)

In [33]:
movie_gender_genre_df['nbr_male_actors'] = movie_gender_genre_df.apply(lambda row: 
                                                                        get_nbr_actors(row,'M'), axis=1)

In [34]:
movie_gender_genre_df['nbr_male_actors'].sum() ### 74664 women, 140687 men

115992

In [35]:
movie_gender_genre_df.shape

(61600, 47)

### Cleaned Data

In [36]:
movie_gender_genre_df.to_csv('Data/Movie-Gender-Genre-Table.csv', encoding='utf8')

In [37]:
### merged data set movies and cast
### deleted unfinished or planned movies
### deleted movies without indication of genre
### handled null values, duplicates, data types incl. format adjustments
### created new column with groups of release date (pre-war, post-war, 1970-2000, 2000-2017)
### created new columns counting all male resp. female actors available (up to 5 actors/film)